* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.row {
    display: flex;
}
.wall {
    background-color: blue;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.coin {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("../assets/coin.gif");
    background-size: contain;
}
.cereza {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("../assets/cereza.png");
    background-size: contain;
}
.blank {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
}
#pacman {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("../assets/pacman.gif");
    background-size: contain;
    position: absolute;
}
